body {
    background: url(/assets/images/pokemonemeraldintrowallpaper.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.pokes {
    width: 100px;
}

.logo {
    width: 200px;
}

.myPoke {
    float: left;
}

.yourPoke {
    float: left;
}