body {
    background: url(/assets/images/pokemonemeraldintrowallpaper.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.pokes {
    width: 100px;
}

.buttons{
    display: inline-block;
    background:transparent;
    text-align: center;
    padding: 10px;
    margin : 10px;
    border:solid thick grey;
    width: 250px;
    height: 175px;
}
.logo {
    width: 200px;
}

/*
.myPoke {
    float: left;
}

.yourPoke {
    float: left;
} */